.searchForm {
  display: flex;
  gap: 1rem;
  align-items: end;
  justify-content: center;
}

.input {
  composes: input from "../InputWrapper/InputWrapper.module.css";
}

.btn {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  left: -10000px;
}
